body {
  width: 100%;
  margin: 0 auto; 
  padding-top: 2%;
  font-family: Calibri, sans-serif; 
  background-color: #F7F0E6;
}

main {
  width: 95%;
  margin: auto;
  background-color: white;
  font-family: Calibri, sans-serif; 
  background-color: #F7F0E6;

}

.logo {
  display: none;
}

.logo_mobile {
  margin: 0 auto;
  height: 100px;
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;

}

.desktop_nav {
  display: none;
}

.mobile_nav {
  text-decoration: none;
  display: block;
}

.mobile_nav a:hover {
  background-color: #F7F0E6;
}

.drop_btn {
  background-color: White; 
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}

.drop_btn:before {  
  height: 10px;
  width: 10px;
  font-size: 2em;
  content: "Navigation";
  font-family: Calibri, sans-serif;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  z-index: 1;
}

h2 {
  margin-left: 2%;
}

.show {
  position: absolute;
  left: 20%;
  width: 60%;
  display: block;
  z-index: 1;
  text-align: center;
}

.intro {
  margin-top: 5px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 6;    
}

.paragraphs {
  margin-top: 5px;
  font-size: 1.4em;
  text-align: left;
  font-weight: 6;
  margin-left: 2%;
}

.final_paragraphs {
  margin-top: 5px;
  font-size: 1.2em;
  text-align: left;
  font-weight: 6;
  margin-left: 2%;
}

.donate_button {
  text-align: center;
}

input[type=button].donate {
  font-family: Calibri, sans-serif;
  color: white;
  background-color: #98D64F;
  border-radius: 5px;
  height: 50px;
  width: 175px;
  font-size: 1.4em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

input[type=button].events {
  font-family: Calibri, sans-serif;
  color: white;
  background-color: #183B7F;
  border-radius: 10px;
  height: 50px;
  font-size: 1.4em;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 2%;
}

.larger_images {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 250px;
  width: 100%
}

.event_images {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 95%;
  border-radius: 10px;
}

.autistica_mission {
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
}

.mission_images {
  width: 100%;
  height: 250px;
}

.newsletter_form {
  background-color: #183B7F;
  overflow: hidden;
  margin-bottom: 8%;
}

#newsletter {
  color: white;
  width: 100%;
  margin-left: 10%;
}

label {
  margin-left: 10%;
  color: white;
  font-size: 1.25em;
}

input[type=text], input[type=email] {
  margin-left: 10%;
  width: 80%;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

input[type=button].newsletter_button {
  font-family: Calibri, sans-serif;
  color: #183B7F;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  font-size: 1.4em;
  box-shadow: none;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 12%;
  font-weight: 600;
}

.accreditations {
  margin-left: 2%;
  margin-right: 2%;
  height: 70px;
}

.follow_us {
  margin-left: 2%;
  padding-bottom: 8%;
}

footer {
  padding-top: 5%;
  background-color: white;
  font-size: 1.1em;
  padding-left: 2%;
  padding-bottom: 5%;
  overflow: hidden;
}

.footer_end {
  color: #414244;
}


/* 540px BREAKPOINT */
@media screen and (min-width: 540px) { 

body {
  max-width: 545px;     
} 
    
}

/* 800px BREAKPOINT */
@media screen and (min-width: 800px) { 

body {
  max-width: 1024px;  
} 

main {
max-width: 780px;
clear: both;
}

.logo_mobile {
  display: none;
  }
    
.logo {
  display: block;
  width: 350px;  
  float: left;
  position: relative;
  left: 7%;
}    

.mobile_nav {
  display: inline-block;  
  float: right;
}   
    
.drop_btn {
/*  margin: 0 auto;*/
  clear: right;
  height: 100px;
  border-radius: 0px;
  width: 350px;
  position: relative;
  right: 7%;
}
    
.drop_btn:before {  
  height: 10px;
  width: 10px;
  font-size: 2em;
  font-family: Calibri, sans-serif;
}

.intro {
  clear: left;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
}    
    
.larger_images {
  width: 400px;
}
    
h1 {
  text-align: center;  
}    
   
.event_images {
  width: 400px;
  float: left;
  margin-bottom: 10%
}    

input[type=button].events {
  margin-bottom: 12%;
}
    
h2#funding {
  margin-top: 5%;        
}

h2#lifelong {
  margin-top: 1%;    
}
    
h2#autistica {
  margin-top: 0;    
}

.paragraphs {
  padding-left: 1%;       
}

.larger_images#second_larger_image {
  display: none;  
}   

.autistica_mission {
  max-width: 350px;
}

.mission_images#research {
  position: relative;
  bottom: 28px;
}
    
.autistica_mission#first_box {
  display: inline-block; 
  margin-right: 5%;
  padding-top: 4%;
}  
 
.autistica_mission#second_box, .autistica_mission#third_box {
  display: inline-block;
}  

.autistica_mission#third_box {
  float: left; 
  margin-right: 5%;
}


.newsletter_form {
  display: inline-block; 
  width: 350px;
}
    
h2#address {
  margin-top: -50px;
}
    
h2#accreditations {
  margin-top: 5%;
  margin-left: 7%;
  width: 300px;
}    
    
h2#follow_us {
  position: relative;
  bottom: 160px;
  display: inline-block;
  left: 50px;
}   
  
.accreditations {
  position: relative;
  float: left;
  left: 5%;
}   

.follow_us {
  position: relative;
  right: 8%; 
}
    
}

